@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Variable Warna Global */
:root {
  --light: #f6f6f9;
  --primary: #1976d2;
  --grey: #eee;
  --dark: #363949;
  --danger: #d32f2f;
  --secondary: #ff4500;
  --success: #388e3c;
}

/* Default Property */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bx {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

nav {
  background-color: var(--light);
  display: flex;
  align-items: center;
  padding: 0.4rem 8rem;
  justify-content: space-between;
}

nav .logo {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: var(--primary);
}

nav .logo .bx {
  min-width: 60px;
  display: flex;
  font-size: 3rem;
}

nav .logo span,
.calc-page span {
  color: var(--dark);
}

nav .menu ul {
  display: flex;
  gap: 3.4rem;
  align-items: center;
  justify-content: center;
}

nav .menu ul li a {
  display: flex;
  align-items: center;
  color: var(--primary);
  gap: 0.2rem;
}

nav .menu-right ul {
  display: flex;
  gap: 1.2rem;
}

nav .menu-right li a {
  color: var(--primary);
}

nav .menu-right a .bx-log-out {
  color: var(--danger);
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  padding: 0 15px;
  min-height: 100vh;
  justify-content: center;
  background: var(--grey);
}

.calc-page {
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}

.calc-page .text {
  margin-bottom: 90px;
}

.calc-page h1,
.calc-page i {
  color: var(--primary);
  font-size: 4rem;
  margin-bottom: 10px;
}

.calc-page p {
  font-size: 1.15rem;
  white-space: nowrap;
}

form {
  display: flex;
  flex-direction: column;
  background: var(--light);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

form input {
  height: 55px;
  width: 100%;
  border: 1px solid var(--grey);
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 1rem;
  padding: 0 14px;
}

form input:focus {
  outline: none;
  border-color: var(--primary);
}

::placeholder {
  color: var(--dark);
  font-size: 1rem;
}

.link {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.link .login {
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--primary);
  padding: 15px 0;
  border-radius: 6px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.2s ease;
}

.link .login:hover {
  background: var(--dark);
}

.p-link {
  padding: 15px 0;
  text-align: center;
}

.link .forgot,
.login-link {
  color: var(--primary);
  font-size: 1rem;
}

.link .forgot:hover {
  text-decoration: underline;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.button a {
  padding: 15px 20px;
  background: var(--dark);
  border-radius: 6px;
  color: #fff;
  font-size: 1.063rem;
  font-weight: 600;
  transition: 0.2s ease;
}

.button a:hover {
  background: var(--primary);
}
